@font-face {
  font-family: 'Neucha';
  src: url(../font/Neucha-Regular.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../font/OpenSans-Regular.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../font/OpenSans-Bold.ttf) format('truetype');
  font-weight: bold;
}

* {
  --white-color: #fff;
  --white-translucent-color: #d7ccc0;
  --light-color: #f5f4f0;
  --basic-color: #fe8a02;
  --basic-dark-color: #42413c;
  --dark-color: #2a2626;
  --dark-translucent-color: #908d8b;
  --brown-color: #b09a81;
  --blue-color: #1085c5;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark-color);
  box-sizing: border-box;
}

.border-box {
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  /***overflow-x: hidden;***/
  width: 100%;
  height: 100%;
}

section {
  width: 1110px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

a {
  text-decoration: none;
}

button {
  margin: 0;
  box-sizing: border-box;
  background: none;
  border: none;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

a:link, 
a:visited,
a:hover {
  color: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Neucha', sans-serif;
  font-weight: 400;
  line-height: 1.2em;
}

.ff-neucha {
  font-family: 'Neucha', sans-serif;
  font-weight: 400;
}

.ff-opensans {
  font-family: 'Open Sans', sans-serif;
}

.weigth-700 {
  font-weight: 700;
}

.lh-1-2 {
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.fs-52 {
  font-size: 52px;
}

.fs-24 {
  font-size: 24px;
}

.fs-34 {
  font-size: 34px;
}

.fs-14 {
  font-size: 14px;
}

.fs-18 {
  font-size: 18px;
}

.fs-12 {
  font-size: 12px;
}

.mb-185 {
  margin-bottom: 185px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-350 {
  margin-bottom: 350px;
}

.pt-200 {
  padding-top: 200px;
}

.p-40 {
  padding: 40px;
}

.p-15 {
  padding: 15px;
}

.pg-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pv-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.h-50 {
  height: 50px;
}

.w-70 {
  width: 70px;
}

.w-max-100 {
  width: 100%;
}

.pos-relative {
  position: relative;
}

.main-img {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px;
}

.bgr-symb {
  position: relative;
  width: 100%;
  height: 100%;
}

.bgr-symb::before {
  content: '';
  background-image: url(../img/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 6%;
  width: 100%;
  height: 100%;
}

.bgr-light {
  background-color: var(--light-color);
}

.bgr-white {
  background-color: var(--white-color);
}

.bgr-dark-color {
  background-color: var(--basic-dark-color);
}

.bgr-brown-color {
  background-color: var(--brown-color);
}

.color-text-orange {
  color: var(--basic-color);
}

.color-text-dark {
  color: var(--basic-dark-color);
}

.color-text-brown {
  color: var(--brown-color);
}

.color-text-white {
  color: var(--white-color);
}

.color-text-translucent-dark {
  color: var(--dark-translucent-color);
}

.color-text-translucent-white {
  color: var(--white-translucent-color);
}

.font-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-item-50 {
  flex: 0 1 auto;
  width: 50%;
}

.gap-30 {
  gap: 30px;
}

.gap-h30-v20 {
  gap: 20px 30px;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.align-items-start {
  align-items: start;
}

.vertical-align-mid {
  vertical-align: middle;
}

.justify-content-center {
  justify-content: center;
}

button.btn::before {
  content: '';
  position: absolute;
  background-image: url(../img/send.svg);
  background-repeat: no-repeat;
  background-size: cover;
  top: 30%;
  left: 35%;
  height: 20px;
  width: 20px;
}

.btn {
  padding: 12px 24px;
}

.btn-orange {
  background-color: var(--basic-color);
}

.prev-img {
  position: absolute;
  width: 919px;
  height: 517px;
  bottom: -547px;
  left: 90px;
}

.shadow-img {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.title-card {
  flex: 0 0 350px;
}

.card {
  padding: 24px;
  flex: 0 0 350px;
  box-sizing: border-box;
}

.text-underline {
  text-decoration: underline;
}
