/** BASIS **/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;

  color: var(--white);
  font-weight: 400;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6em;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0;

  color: var(--main-color);
  font-weight: 400;
  font-size: 72px;
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
}

h2 {
  margin-block-start: 0;
  margin-block-end: 0;

  color: var(--main-color);
  font-weight: 400;
  font-size: 60px;
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
}

h3 {
  margin-block-start: 0;
  margin-block-end: 0;

  color: var(--main-color);
  font-weight: 400;
  font-size: 34px;
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
}

a {
  text-decoration: none;

  outline: none;
}

hr {
  height: 16px;

  margin: 0;

  visibility: hidden;
}

.container {
  position: relative;

  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;

  text-align: center;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.block-halves {
  flex-grow: 1;

  width: calc(50% - 20px);
}

.text-align-left {
  text-align: left;
}

.z-index-100 {
  z-index: 100;
}

.z-index-200 {
  z-index: 200;
}

.d-block {
  display: block;
}

.text-underline {
  text-decoration: underline;
}

/** MARGINS and PADDINGS **/
.mb-9 {
  margin-bottom: 9px;
}

.mb-27 {
  margin-bottom: 27px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-200 {
  margin-top: 200px;
}

.mb-400 {
  margin-bottom: 400px;
}

.ml-474 {
  margin-left: 608px;
}

.ml-570 {
  margin-left: 570px;
}

.pl-15 {
  padding-left: 15px;
}

.pr-15 {
  padding-right: 15px;
}

.p-24 {
  padding: 24px 24px 0 24px;
}

.pl-30 {
  padding-left: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pt-200pb-100 {
  padding: 200px 0 100px;
}

/** TITLES **/
.h1 {
  padding-top: 7px;
}

/* .h2 {
}
.h3 {
} */

/** FONTS **/
.fz-14 {
  font-size: 14px;
}

.fz-18 {
  font-size: 18px;
}

.fz-52 {
  font-size: 52px;
}

.lh-1em {
  line-height: 1em;
}

/** COLORS **/
:root {
  --white: #fff;
  --half-white: #d7ccc0;
  --light: #f5f4f0;
  --main-color: #fe8a02;
  --main-color-dark: #42413c;
  --dark: #2a2626;
  --half-dark: #908d8b;
  --blue: #1085c5;
  --brown: #b09a81;
  --black: #000;
}

/** fonts colors **/
.main-color {
  color: var(--main-color);
}

.dark-color {
  color: var(--dark);
}

.white-color {
  color: var(--white);
}

.main-dark-color {
  color: var(--main-color-dark);
}

.half-dark-color {
  color: var(--half-dark);
}

.half-white-color {
  color: var(--half-white);
}

.brown-color {
  color: var(--brown);
}

.black-color {
  color: var(--black);
}

.blue-color {
  color: var(--blue);
}

/** background colors **/
.background-light {
  background-color: var(--light);
}

.background-main-color {
  background-color: var(--main-color);
}

.background-white {
  background-color: var(--white);
}

.background-main-color-dark {
  background-color: var(--main-color-dark);
}

.background-brown {
  background-color: var(--brown);
}

/** BACKGROUNDS **/
.background {
  position: relative;

  overflow: hidden;
}

.background::before {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;

  background: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

/** HEADER **/
.header-img {
  position: absolute;

  top: 55px;
  right: -270px;

  height: 525px;
}

.header-button {
  width: 150px;

  padding: 12px 24px;

  font-weight: 700;

  text-transform: uppercase;

  cursor: pointer;
}

/** VIDEO **/
.video {
  position: absolute;
  top: 329px;
  left: 95.5px;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

/** NAV **/
.mb-20 {
  margin-bottom: 20px;
}

.navigation-item {
  width: calc((100% - 60px) / 3);
}

.navigation-item-link {
  text-decoration: none;

  outline: none;
}

.bg-dark {
  background-color: var(--main-color-dark);
}

.navigation-item-number {
  font-size: 64px;
  font-family: 'Neucha', cursive;
  line-height: 70.5px;
}

.navigation-item-title {
  padding-bottom: 16px;
}

.navigation-item-text {
  padding-bottom: 24px;
}

/** IKEA EFFECT **/
.cognitive-effect-img {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.cognitive-effect-top {
  width: calc(100% - 608px);
}

.cognitive-biases {
  font-weight: 400;
  font-size: 24px;
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
}

.top-text {
  font-weight: 400;
  font-size: 34px;
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
}

.desc-title {
  display: block;

  width: 100%;
  height: 26px;

  margin: 100px 0 20px;
  padding-top: 5px;
  padding-left: 10px;

  font-weight: 700;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  line-height: 1.2em;
  text-align: left;
  text-transform: uppercase;
}

/* FOOTER */
.subscribe {
  align-items: center;

  padding: 0 55px 0;
}

.footer-text {
  margin: 55px 0 55px;
}

.footer-label {
  margin-bottom: 9px;
}

.footer-input {
  width: 100%;
  height: 50px;
  padding: 15px;

  border: 0;

  outline: none;
}

.footer-input::placeholder {
  font-size: 13.1px;

  opacity: 20%;
}

.footer-button {
  position: absolute;

  width: 62px;
  height: 50px;

  border: 0;

  vertical-align: bottom;

  transform: translateX(-100%);
}

.footer-button::before {

  position: absolute;
  top: 50%;
  left: 50%;

  width: 25px;
  height: 25px;

  background: url(../images/send.svg);
  background-repeat: no-repeat;
  background-size: 100%;

  transform: translate(-50%, -50%);

  cursor: pointer;

  content: "";
}

.terms-of-use {
  font-size: 12px;
}

.copyright {
  margin-top: 76px;
}

.source {
  margin: 16px 0 16px;
}