@font-face {
  font-family: 'Neucha';
  src: url(../font/Neucha-Regular.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../font/OpenSans-Regular.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../font/OpenSans-Bold.ttf) format('truetype');
  font-weight: bold;
}

:root {
  --white-color: #fff;
  --white-translucent-color: #d7ccc0;
  --light-color: #f5f4f0;
  --basic-color: #fe8a02;
  --basic-color-hover : #EA7600;
  --basic-dark-color: #42413c;
  --dark-color: #2a2626;
  --dark-translucent-color: #908d8b;
  --brown-color: #b09a81;
  --blue-color: #1085c5;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration-line: none;
  text-decoration-color: var(--dark-color);
  color: var(--dark-color);
  display: inline-block;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark-color);
  width: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Neucha', 'sans-serif';
  line-height: 1.2em;
  font-weight: 400;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
}

.background-image {
  position: relative;
}

.background-image::before {
  width: 100%;
  height: calc(100% - 100px);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  background-image: url(../img/background.png);
  opacity: 10%;
}

.main-color {
  background: var(--light-color);
}

.background-section-gradient {
  background: linear-gradient(to bottom, var(--white-color) 814px, var(--basic-dark-color) 100px);
}

.background-color-orange {
  background-color: var(--basic-color);
}

.background-color-black {
  background-color: var(--basic-dark-color);
}

.background-color-brown {
  background-color: var(--brown-color);
}

.background-color-white {
  background-color: var(--white-color);
}

.color-orange {
  color: var(--basic-color);
}

.color-white {
  color: var(--white-color);
}

.color-brown {
  color: var(--brown-color);
}

.color-dark-translucent-color {
  color: var(--dark-translucent-color);
}

.color-white-translucent-color {
  color: var(--white-translucent-color);
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-start-ai {
  align-items: flex-start;
}

.flex-center-ai {
  align-items: center;
}

.flex-gap-30-20 {
  gap: 30px 20px;
}

.flex-item-40 {
  flex: 0 0 40%;
  max-width: 540px;
}

.flex-item-auto {
  flex: 1 1 auto;
}

.flex-item-50 {
  flex: 0 0 50%;
  max-width: 540px;
}

.jc-space-between {
  justify-content: space-between;
}

.mb-10 {
  margin-bottom: 10px;
}

.mr-30 {
  margin-right: 30px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-27 {
  margin-bottom: 27px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-185 {
  margin-bottom: 185px;
}

.pb-0 {
  padding-bottom: 0;
}

.pv-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.ph-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.text-align-center {
  text-align: center;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.15;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-52 {
  font-size: 52px;
  line-height: 1.2;
  font-family: 'Neucha', sans-serif;
}

.main-img {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -110px;
}

.main-button {
  padding: 12px 24px;
  font-weight: 700;
}

.main-button:hover {
  background-color: var(--basic-color-hover);
  transition: all;
  transition-duration: 0.5s;
}

.preview-img {
  margin-bottom: 10px;
  width: 919px;
  height: 569px;
}

.soft-shadow {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.card {
  flex: 0 0 350px;
  max-width: 350px;
  background-color: var(--light-color);
  padding: 24px;
}

.card > h2 {
  line-height: 1;
}

a.card:hover {
  background-color: var(--basic-color);
  transition: all;
  transition-duration: 0.7s;
}

a.card:hover > h2 {
  color: var(--light-color);
  transition: all;
  transition-duration: 0.7s;
}

a.card:hover > h3 {
  color: var(--light-color);
  transition: all;
  transition-duration: 0.7s;
}

a.card:hover > p {
  color: var(--light-color);
  transition: all;
  transition-duration: 0.7s;
}

.card-no-color {
  background-color: inherit;
  padding: 0;
}

.footer-form {
  padding: 40px 55px;
}

.footer-input {
  padding: 15px;
}

.footer-link {
  color: var(--white-color);
  text-decoration: underline;
}

.footer-button {
  width: 70px;
  height: 50px;
  position: relative;
}

.footer-button::before {
  content: '';
  position: absolute;
  background-image: url(../img/send.svg);
  width: 25px;
  height: 25px;
  align-items: center;
  top: 30%;
  left: 30%;
}